/* CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100vw;
  background-color: #020725;
  color: #fff;
}
.folder-container {
  height: 90vh;
  padding: 0px 10px 10px 10px;
  border-top: 2px solid white;
  scroll-behavior: smooth;
  overflow-y: auto;
}
.folder {
  display: flex;
  align-items: center;
  border-top: 0px;
  border-right: 0px;
  border-left: 3px;
  border-bottom: 3px;
  border-color: rgb(146, 146, 146);
  border-style: solid;
  border-radius: 10px;
  height: 50px;
}
.folder > p {
  overflow-x: scroll;
  overflow-y: hidden;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.folder > p::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.folder p {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  opacity: 0.8;
  z-index: 100;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
}
.form {
  padding: 10px;
  width: 300px;
  border: 2px solid white;
  border-radius: 10px;
}
.form > h4 {
  text-align: center;
  padding-bottom: 10px;
}
.form > div {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:disabled {
  background-color: white;
  color: #020725;
  cursor: default;
}

.button:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

/* Style buttons */
.button-icon {
  appearance: button;
  background-color: #4d4ae8;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid #4d4ae8;
  border-radius: 1rem;
  padding: 5px; /* Some padding */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.button-icon:hover {
  background-color: RoyalBlue;
}
